@(role: String)
@* arguments to main: title, stylesheet, javascript, right *@
@main("Appointment Details",role) {
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/appointment/appointment_details.css")">
} {
    <script src="@routes.Assets.versioned("javascripts/dashboard.js")" type="text/javascript"></script>
} {
    <div id="right">
        <div id="right-top">
            <div id="information-container">
                <div id="right-top-title">Appointment Name</div>
                <div id="appointment-details">
                    <div class="appointment-detail">Date: 1/12/23</div>
                    <div class="appointment-detail">Time: 3:00pm</div>
                    <div class="appointment-detail">Phone: +974-12345678</div>
                </div>
            </div>
            <div id="right-top-buttons">
                <button class="button-top-grey" onclick="display_edit_appointment()">Edit</button>
                <button class="button-top-red" form="new-car-form" onclick="save_new_shop(); return false;">Delete</button>
            </div>
        </div>
        <div id="right-bottom">

            <div id="car-images">
                <div class="form-title">Car Images</div>
                <br>
                <div id="images-scrollbar">
                    <img class="car-image" src="@routes.Assets.versioned("images/car1.jpg")" alt="Car Image">
                    <img class="car-image" src="@routes.Assets.versioned("images/car2.jpg")" alt="Car Image">
                    <img class="car-image" src="@routes.Assets.versioned("images/car3.jpg")" alt="Car Image">
                    <img class="car-image" src="@routes.Assets.versioned("images/car3.jpg")" alt="Car Image">
                    <img class="car-image" src="@routes.Assets.versioned("images/car3.jpg")" alt="Car Image">
                    <img class="car-image" src="@routes.Assets.versioned("images/car3.jpg")" alt="Car Image">
                </div>
            </div>
            <br>
            <div id="car-information">
                <div class="form-title">Car Information</div>
                <br>
                <div id="car-information-fields">
                    <div class="car-field">
                        <label for="car-make">Make</label>
                        <input id="car-make" type="text" value="Honda" readonly>
                    </div>
                    <div class="car-field">
                        <label for="car-model">Model</label>
                        <input id="car-model" type="text" value="Civic" readonly>
                    </div>
                    <div class="car-field">
                        <label for="car-subclass">Sub Class</label>
                        <input id="car-subclass" type="text" value="NA" readonly>
                    </div>
                    <div class="car-field">
                        <label for="car-year">Year</label>
                        <input id="car-year" type="text" value="2023" readonly>
                    </div>
                    <div class="car-field">
                        <label for="car-mileage">Mileage</label>
                        <input id="car-mileage" type="text" value="1000km" readonly>
                    </div>
                    <div class="car-field">
                        <label for="car-price">Price</label>
                        <input id="car-price" type="text" value="QAR 50,000" readonly>
                    </div>
                    <div class="car-field">
                        <label for="car-geartype">Gear Type</label>
                        <input id="car-geartype" type="text" value="Automatic" readonly>
                    </div>
                    <div class="car-field">
                        <label for="car-fueltype">Fuel Type</label>
                        <input id="car-fueltype" type="text" value="Petrol" readonly>
                    </div>
                    <div class="car-field">
                        <label for="car-seattype">Seat Type</label>
                        <input id="car-seattype" type="text" value="5" readonly>
                    </div>
                    <div class="car-field">
                        <label for="car-warranty">Warranty</label>
                        <input id="car-warranty" type="text" value="10 years" readonly>
                    </div>
                    <div class="car-field">
                        <label for="car-warrantyexpiry">Warranty Expiry</label>
                        <input id="car-warrantyexpiry" type="text" value="10/10/2033" readonly>
                    </div>
                    <div class="car-field">
                        <label for="car-extcolor">Exterior Color</label>
                        <input id="car-extcolor" type="text" value="Silver" readonly>
                    </div>
                    <div class="car-field">
                        <label for="car-intcolor">Interior Color</label>
                        <input id="car-intcolor" type="text" value="Grey" readonly>
                    </div>
                    <div class="car-field">
                        <label for="car-wheeldrive">Wheel Drive</label>
                        <input id="car-wheeldrive" type="text" value="2" readonly>
                    </div>
                    <div class="car-field">
                        <label for="car-sunroof">Sunroof</label>
                        <input id="car-sunroof" type="text" value="Yes" readonly>
                    </div>
                    <div class="car-field">
                        <label for="car-importcountry">Import Country</label>
                        <input id="car-importcountry" type="text" value="UAE" readonly>
                    </div>
                </div>
            </div>
        </div>
    </div>
}