@import models.classes.CarModel
@(model: CarModel, csrfToken: play.filters.csrf.CSRF.Token, role:String)

@* arguments to main: title, stylesheet, javascript, right *@
@main("Add Class",role) {
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/car_model/add_car_model.css")">
} {
    <script src="@routes.Assets.versioned("javascripts/dashboard.js")" type="text/javascript"></script>
} {
    <div id="right">
        <div id="right-top">
            <div id="right-top-title">Add Class</div>
            <div id="right-top-buttons">
                <button class="button-top-grey" onclick="display_car_model_details(`@model.make`)">Cancel</button>
                <button class="button-top-red" form="new-admin-form" onclick="save_new_class(); return false;">Save</button>
            </div>
        </div>
        <div id="right-bottom">
            <form id="new-model-form">
                <div id="model-form-left">
                    <input type="hidden" id="csrfToken" value="@csrfToken.value">
                    <img id="shop-logo-image" src="@model.logo" alt="Upload Image" style="border: 1px solid black;">
                    <br>
                    <div class="form-field">
                        <label for="make">Make</label>
                        <input type="text" id="make" value="@model.make" readonly>
                    </div>
                </div>

                <div id="model-form-right">
                    <div class="form-title">
                        <label for="car-class">Car Class</label>
                        <img id="add_model" src="@routes.Assets.versioned("images/plus.png")" onclick="add_class_field()" alt="Add Class">
                    </div>
                    <div id="class-container-list">

                        @for(className <- model.classes.fieldNames()){
                            <div class="class-container">
                                <div class="form-field">
                                    <label for="car-class">Car Class</label>
                                    <input type="text" id="car-class" placeholder="Enter Car Class" value="@className">
                                </div>
                                <div class="models-container">
                                    <div class="form-title">
                                        <label for="models">Models</label>
                                        <img id="add_model" src="@routes.Assets.versioned("images/plus.png")" onclick="add_model_field(this)" alt="Add Model">
                                    </div>
                                    <div class="models-list">
                                    @for(modelName <- model.classes.get(className).elements()){
                                        <input type="text" id="model_name" placeholder="Enter Model Name" value="@modelName.asText()">
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </form>
        </div>
    </div>
}