@(csrfToken: play.filters.csrf.CSRF.Token, role:String)

@* arguments to main: title, stylesheet, javascript, right *@
@main("Add New Car Model",role) {
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/car_model/add_car_model.css")">
} {
    <script src="@routes.Assets.versioned("javascripts/dashboard.js")" type="text/javascript"></script>
} {
    <div id="right">
        <div id="right-top">
            <div id="right-top-title">Add Car Model</div>
            <div id="right-top-buttons">
                <button class="button-top-grey" onclick="display_car_models()">Cancel</button>
                <button class="button-top-red" form="new-admin-form" onclick="save_new_model(); return false;">Save</button>
            </div>
        </div>
        <div id="right-bottom">
            <form id="new-model-form">
                <div id="model-form-left">
                    <input type="hidden" id="csrfToken" value="@csrfToken.value">
                    <img id="shop-logo-image" src="@routes.Assets.versioned("images/uploadimage.png")" alt="Upload Image">
                    <br>
                    <label for="shop-logo" class="upload-label">
                        Add Logo Image
                        <input type="file" id="shop-logo" class="visually-hidden" onchange="updateLogoPreview()"/>
                    </label>

                    <div class="form-field">
                        <label for="make">Make</label>
                        <input type="text" id="make" placeholder="Enter Make">
                    </div>
                </div>

                <div id="model-form-right">


                    <div class="form-title">
                        <label for="car-class">Car Class</label>
                        <img id="add_model" src="@routes.Assets.versioned("images/plus.png")" onclick="add_class_field()" alt="Add Class">
                    </div>
                    <div id="class-container-list">
                        <div class="class-container">
                            <div class="form-field">
                                <label for="car-class">Car Class</label>
                                <input type="text" id="car-class" placeholder="Enter Car Class">
                            </div>
                            <div class="models-container">
                                <div class="form-title">
                                    <label for="models">Models</label>
                                    <img id="add_model" src="@routes.Assets.versioned("images/plus.png")" onclick="add_model_field(this)" alt="Add Model">
                                </div>
                                <div class="models-list">
                                    <input type="text" id="model_name" placeholder="Enter Model Name">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
}