@import models.classes.CarModel
@(model: CarModel, csrfToken: play.filters.csrf.CSRF.Token, role:String)

@* arguments to main: title, stylesheet, javascript, right *@
@main("Car Model Details",role) {
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/car_model/car_model_details.css")">
} {
    <script src="@routes.Assets.versioned("javascripts/dashboard.js")" type="text/javascript"></script>
} {
    <div id="right">
        <div id="right-top">
            <div id="right-top-title">@model.make</div>
            <div id="right-top-buttons">
                <button class="button-top-grey" onclick="edit_make_logo(`@model.make`)">Edit Make Logo</button>
                <button class="button-top-grey" onclick="display_add_class(`@model.make`)">Add Class</button>
                <button class="button-top-red" onclick="display_delete_class(`@model.make`)">Delete Class</button>
            </div>
        </div>
        <div id="right-bottom">
            <form id="new-model-form">
                <div id="model-form-left">
                    <input type="hidden" id="csrfToken" value="@csrfToken.value">
                    <img id="shop-logo-image" src="@model.logo" alt="Upload Image" style="border: 1px solid black;">
                    <br>
                    <div class="form-field">
                        <label for="make">Make</label>
                        <input type="text" id="make" value="@model.make" readonly>
                    </div>
                </div>

                <div id="model-form-right">
                    <div class="form-title">
                        <label for="car-class">Car Class(es)</label>
                    </div>
                    <div id="class-container-list">

                    @for(className <- model.classes.fieldNames()){
                        <div class="class-container">
                            <div class="form-field">
                                <label for="car-class">Car Class</label>
                                <input type="text" id="car-class" value="@className" readonly>
                            </div>
                            <div class="models-container">
                                <div class="form-title">
                                    <label for="models">Models</label>
                                </div>
                                <div class="models-list">
                                @for(modelName <- model.classes.get(className).elements()){
                                    <input type="text" id="model_name" value="@modelName.asText()" readonly>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                    </div>
                </div>
            </form>
        </div>
    </div>
}