@import "car/add_car.css";

label {
    display: block;
    font-family: Alwakalat-Font, serif;
    font-weight: bold;
    font-size: 1vw;
}

#right-bottom{
    flex-direction: column;
    box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.75);
}

form{
    justify-content: normal;
}

input{
    width: 50%;
    height: 5%;
    text-align: left;
    padding-left: 1%;
    margin: 0;
}

@media screen and (max-width: 1024px){
    .form-field label{
        font-size: 2.5vh;
    }

    input{
        font-size: 2vh;
    }
}

@media screen and (max-width: 600px){

    .form-field{
        margin-bottom: 5%;
    }

    .form-field label{
        font-size: 2vh;
    }

    input{
        font-size: 1.7vh;
        height: 20%;
        width: 80%;
        text-align-last: left;
    }
}