@(csrfToken: play.filters.csrf.CSRF.Token)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/login.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/alwakalat_logo.png")">
        <script src="@routes.Assets.versioned("javascripts/forgotpassword.js")" type="text/javascript"></script>
        <title>Forgot Password</title>
    </head>
    <body>
        <div id="left">
            <img id="logo" src="@routes.Assets.versioned("images/alwakalat_logo.png")" alt="Alwakalat logo">
        </div>
        <div id="right">
            <div id="header">
                <h1 id="header-title">Forgot Password?</h1>
                <h3 id="header-message">Enter your email</h3>
            </div>
            <form onsubmit="forgot_password(); return false;">
                <input type="hidden" id="csrfToken" value="@csrfToken.value">
                <input type="text" id="email" placeholder="Email">
                <br>
                <button id="login-button" type="submit">Send</button>
            </form>
        </div>

    </body>
</html>