@(csrfToken: play.filters.csrf.CSRF.Token)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/login.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/alwakalat_logo.png")">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="@routes.Assets.versioned("javascripts/login.js")" type="text/javascript"></script>
        <title>Alwakalat Admin Login</title>
    </head>
    <body>
        <div id="left">
            <img id="logo" src="@routes.Assets.versioned("images/alwakalat_logo.png")" alt="Alwakalat logo">
        </div>
        <div id="right">
            <div id="header">
                <h1 id="header-title">Alwakalat Admin</h1>
            </div>
            <form onsubmit="login(); return false;">
                <input type="hidden" id="csrfToken" value="@csrfToken.value">
                <input type="text" id="email" placeholder="Email">
                <input type="password" id="password" placeholder="Password">
                <br>
                <div id="options">
                    <label for="remember-me" id="checkbox-label">
                        <input id="remember-me" type="checkbox"> Remember Me
                    </label>

                    <a id="forgot-password" href="@routes.LoginController.getForgotPasswordView()">Forgot Password?</a>
                </div>
                <button id="login-button" type="submit">Log In</button>
            </form>
        </div>
    </body>
</html>