@import java.util
@import models.classes.CarModel
@(models: util.List[CarModel], csrfToken: play.filters.csrf.CSRF.Token, role: String)


@* arguments to main: title, stylesheet, javascript, right *@
@main("Add New Car",role) {
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/car/add_car.css")">
} {
    <script src="@routes.Assets.versioned("javascripts/dashboard.js")" type="text/javascript"></script>
} {
    <div id="right">
        <div id="right-top">
            <div id="right-top-title">Add a New Car</div>
            <div id="right-top-buttons">
                <button class="button-top-grey" onclick="display_car_listings()">Cancel</button>
                <button class="button-top-red" form="new-car-form" onclick="save_new_car(); return false;">Save</button>
            </div>
        </div>
        <div id="right-bottom">
            <form id="new-car-form">
                <div id="car-information">
                    <div class="form-title">Enter Car Information</div>
                    <div id="car-information-fields">
                        <input type="hidden" id="csrfToken" value="@csrfToken.value">
                        <input  id="listingID" type="text" placeholder="Listing ID">
                        <select id="make">
                            <option>Make</option>
                            @for(model <- models){
                                <option>@model.make</option>
                            }
                        </select>

                        <select id="model"><option>Model</option></select>
                        <select id="sub-class"><option>Sub Class</option></select>
                        <input  id="year" type="number" placeholder="Year">
                        <input  id="mileage" type="number" placeholder="Mileage">
                        <input  id="price" type="number" placeholder="Price">
                        <select id="gear-type">
                            <option>Gear Type</option>
                            <option>Manual</option>
                            <option>Automatic</option>
                        </select>
                        <select id="fuel-type">
                            <option>Fuel Type</option>
                            <option>Gasoline</option>
                            <option>Diesel</option>
                            <option>Battery</option>
                        </select>
                        <select id="body-type">
                            <option>Body Type</option>
                            <option>Sedan</option>
                            <option>SUV</option>
                            <option>Hatch Back</option>
                        </select>
                        <select id="warranty">
                            <option>Under Warranty</option>
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                        <input  id="warranty-expiry" type="number" placeholder="Warranty Expiry Year">
                        <input id="interior-color" type="text" placeholder="Interior Color">
                        <input id="exterior-color" type="text" placeholder="Exterior Color">
@*                        <select id="exterior-color"><option>Exterior Color</option></select>*@
@*                        <select id="interior-color"><option>Interior Color</option></select>*@
                        <select id="seat-type">
                            <option>Seat Type</option>
                            <option>Leather</option>
                            <option>Cloth</option>
                        </select>
                        <select id="wheel-drive">
                            <option>Wheel Drive</option>
                            <option>Front Wheel Drive</option>
                            <option>Rear Wheel Drive</option>
                            <option>Four Wheel Drive</option>
                            <option>All Wheel Drive</option>
                        </select>
                        <select id="sunroof">
                            <option>Sunroof</option>
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                        <input id="import-country" type="text" placeholder="Import Country">
@*                        <select id="import-country"><option>Import Country</option></select>*@
                    </div>
                </div>
                <div id="seller-information">
                    <div class="form-title">Enter Seller Information</div>
                    <div id="seller-information-fields">
                        <input id="seller-name" type="text" placeholder="Name" readonly>
                        <input id="seller-phone" type="text" placeholder="Phone Number">
                    </div>
                </div>
                <div id="car-photos">
                    <div class="form-title">Upload Car Photos</div>
                    <label for="upload" class="upload-label">
                        Select Image(s)
                        <input type="file" id="upload" class="visually-hidden" multiple="multiple"/>
                    </label>

                </div>
            </form>
        </div>
    </div>
}