@import java.util
@import models.classes.Car
@import models.enums.CarListingStatus
@(csrfToken: play.filters.csrf.CSRF.Token, carList: util.List[Car], activeCars: Integer, soldCars: Integer, role:String)
@* arguments to main: title, stylesheet, javascript, right *@
@main("Alwakalat Car Listings",role) {
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/car/car_listings.css")">
} {
    <script src="@routes.Assets.versioned("javascripts/dashboard.js")" type="text/javascript"></script>
} {
    <div id="right">
        <div id="right-top">
            <div id="right-top-stats">
                <div class="statistic">
                    <div id="statistic-name">Total Car Listings Posted</div>
                    <div id="statistic-count">@carList.length</div>
                </div>
                <div class="statistic">
                    <div id="statistic-name">Active Car Listings</div>
                    <div id="statistic-count">@activeCars</div>
                </div>
                <div class="statistic">
                    <div id="statistic-name">Cars Sold</div>
                    <div id="statistic-count">@soldCars</div>
                </div>
            </div>
        </div>
        <div id="right-bottom">
            <input type="hidden" id="csrfToken" value="@csrfToken.value">
            @for(car <- carList) {
                <div class="listing">
                    <div class="listing-title" onclick="display_car_details(`@car.listingID`)">@car.make @car.model @car.modelYear</div>
                    <div class="listing-buttons">
                        @if(!car.status.equals(CarListingStatus.SOLD)){
                            <button class="listing-button-grey" onclick="display_update_price(`@car.listingID`, @car.price)">Update Price</button>
                            <button class="listing-button-grey" onclick="set_as_sold(`@car.listingID`, @car.price)">Set as sold</button>
                        }else{
                            <button class="listing-button-red">SOLD</button>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
}