@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@

@(title: String, role: String)(stylesheet: Html)(javascript: Html)(right: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/alwakalat_logo.png")">
        @stylesheet
        <title>@title</title>
    </head>
    <body>
        <div id="mobile-bar">
            <div id="menu">
                <div class="hamburger" onclick="toggleDrawer()">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
                <div id="drawer">
                    <a href="@routes.HomeController.getHomeView()">Dashboard</a>
                    <a href="@routes.CarController.getCarListingsView()">Car Listings</a>
                    <a href="@routes.ShopController.getShopListingsView()">Shop Listings</a>
                    <a href="@routes.AppointmentController.getUpcomingAppointmentsView()">Upcoming Appointments</a>
                    <a href="#">Alwakalat Card</a>

                    @* Display the following if the admin is a Super Admin *@
                    @if(role.equals("SUPER")){
                        <a href="@routes.SuperAdminController.getCustomerListingsView()">Customers</a>
                        <a href="@routes.SuperAdminController.getAdminListingsView()">Admins</a>
                        <a href="@routes.CarModelController.getCarModelListingsView()">Car Models</a>
                    }
                    <a href="@routes.HomeController.getChangePasswordView()">Change Password</a>
                    <a href="@routes.LoginController.getLoginView()">Log Out</a>
                </div>
            </div>
            <div id="logo-title-1" onclick="display_home()">
                <img id="logo" src="@routes.Assets.versioned("images/alwakalat_logo.png")" alt="Alwakalat logo">
                <p id="title">Alwakalat App Dashboard</p>
            </div>
        </div>
        <div id="left">
            <div id="left-sidebar">
                <div id="logo-title" onclick="display_home()">
                    <img id="logo" src="@routes.Assets.versioned("images/alwakalat_logo.png")" alt="Alwakalat logo">
                    <p id="title">Alwakalat App Dashboard</p>
                </div>
                <div id="options">
                    <div class="option">
                        <img class="sidebar-icons" src="@routes.Assets.versioned("images/home.png")" alt="Dashboard-icon">
                        <a id="option-dashboard" href="@routes.HomeController.getHomeView()">Dashboard</a>
                    </div>

                    <div class="option">
                        <img id="carlisting" class="sidebar-icons" src="@routes.Assets.versioned("images/car.png")" alt="Car Icon">
                        <a id="option-carlistings" href="@routes.CarController.getCarListingsView()">Car Listings</a>
                    </div>

                    <div class="option">
                        <img id="shoplisting" class="sidebar-icons" src="@routes.Assets.versioned("images/shop.png")" alt="Shop Icon">
                        <a id="option-shoplistings" href="@routes.ShopController.getShopListingsView()">Shop Listings</a>
                    </div>


                    <div class="option">
                        <img class="sidebar-icons" src="@routes.Assets.versioned("images/user.png")" alt="User Icon">
                        <a id="option-upcoming-appointments" href="@routes.AppointmentController.getUpcomingAppointmentsView()">Upcoming Appointments</a>
                    </div>

                    <div class="option">
                        <img class="sidebar-icons" src="@routes.Assets.versioned("images/promotions.png")" alt="Promotion Icon">
                        <a id="option-alwakalatcard" href="">Alwakalat Card</a>
                    </div>

                    @* Display the following if the admin is a Super Admin *@
                    @if(role.equals("SUPER")){

                        <div class="option">
                            <img class="sidebar-icons" src="@routes.Assets.versioned("images/carmodel.png")" alt="Car Model-icon">
                            <a id="option-dashboard" href="@routes.CarModelController.getCarModelListingsView()">Car Models</a>
                        </div>

                        <div class="option">
                            <img class="sidebar-icons" src="@routes.Assets.versioned("images/customer.png")" alt="Customer-icon">
                            <a id="option-dashboard" href="@routes.SuperAdminController.getCustomerListingsView()">Customers</a>
                        </div>

                        <div class="option">
                            <img class="sidebar-icons" src="@routes.Assets.versioned("images/employee.png")" alt="Employee-icon">
                            <a id="option-dashboard" href="@routes.SuperAdminController.getAdminListingsView()">Admins</a>
                        </div>
                    }

                    <div class="option">
                        <img class="sidebar-icons" src="@routes.Assets.versioned("images/password.png")" alt="Password Icon">
                        <a id="option-upcoming-appointments" href="@routes.HomeController.getChangePasswordView()">Change Password</a>
                    </div>
                </div>
                <div class="option">
                    <img class="sidebar-icons" src="@routes.Assets.versioned("images/logout.png")" alt="Log out Icon">
                    <a id="logout" href="@routes.LoginController.getLoginView()">Log Out</a>
                </div>
            </div>
        </div>
        @right
        @javascript
    </body>
</html>
